<div class="row">
    <div class="col-sm-12 col-md-12 video-container">
        <video controls #videoPlayer>
            <source src="{{data.url}}" type="video/mp4" />
            Browser not supported
        </video>
    </div>
    <div class="col-sm-12 col-md-12">
        <p>{{data.name}}</p>
    </div>
    <div class="col-sm-12 col-md-12">
        <div class="row">
            <div class="col-sm-2 col-md-1">
                <div (click)='onlike()'>
                    <ng-container *ngIf="like; else elseTemplatelike">
                        <nb-icon icon="thumbs-up" pack="fa"></nb-icon>
                    </ng-container>
                    <ng-template #elseTemplatelike>
                        <nb-icon icon="thumbs-up" pack="far"></nb-icon>
                    </ng-template>
                </div>
            </div>
            <div class="col-sm-2 col-md-1">
                <div (click)='ondislike()'>
                    <ng-container *ngIf="dislike; else elseTemplatedislike">
                        <nb-icon icon="thumbs-down" pack="fa"></nb-icon>
                    </ng-container>
                    <ng-template #elseTemplatedislike>
                        <nb-icon icon="thumbs-down" pack="far"></nb-icon>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>