<ng-container *ngIf="data.length>0; else elseTemplate">
  <div class="row">
    <div *ngFor="let video of data" class="col-12 col-md-3">
      <div (click)="onClick(video.id)">
        <div class="card video-card">
          <img [src]="video.thumbnail" class="card-img-top" alt="img">
          <div class="card-body">
            <h5 class="card-title">{{video.name}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>  
</ng-container>
<ng-template #elseTemplate>
  <p>It looks like there are no videos</p>
  <p>Please go to uploads to upload a new video</p>
</ng-template>
